<div class="card current-card">
  <h3>{{position}}. {{dataCity.cityName}}, {{dataCity.country}}</h3>

  <div class="city-details">

    <div class="city-icon">
      <img src="{{src}}" alt="{{dataCity.cityName}}">
    </div>

    <div class="city-temp">
      <h3>Temperatura: {{dataCity.temp | number: '1.0-0'}} {{ unitSymbol }}</h3>
      <span>Sensação térmica: {{dataCity.sensation | number: '1.0'}} {{ unitSymbol }}</span>
    </div>

    <div class="city-misc">
      <div>Humidade: {{dataCity.humidity}} %</div>
      <div>Velocidade do vento: {{dataCity?.windSpeed}} m/s</div>
    </div>

  </div>

</div>